{{! Maintainers - Kevin Corry}}
<div class="component-inner h5p-inner">
    {{> component this}}
    <div class="component-widget h5p-widget">
        <div class="h5p-iframe-holder">
            <iframe allowfullscreen="allowfullscreen" scrolling="{{#if _scrolling}}{{_scrolling}}{{else}}no{{/if}}" class="h5p-iframe" src="{{_source}}" data-height-large="{{_height._large}}" data-height-medium="{{_height._medium}}" data-height-small="{{_height._small}}">
      </iframe>
        </div>
    </div>
</div>
